@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-weight: 300;
  font-size: 1em; }

.source, .instructions {
  position: absolute;
  font-size: 0.8em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.source {
  top: 1em; }
  .source a {
    text-decoration: none;
    padding: 0 0 0 0.3em;
    color: inherit; }

.instructions {
  bottom: 1em; }

path {
  stroke: white;
  stroke-width: 0.02em;
  fill: #262626; }

.q0 {
  fill: #eaf0f5;
  background-color: #eaf0f5; }

.q1 {
  fill: #d5e2ef;
  background-color: #d5e2ef; }

.q2 {
  fill: #b7cce0;
  background-color: #b7cce0; }

.q3 {
  fill: #8ebdd6;
  background-color: #8ebdd6; }

.q4 {
  fill: #6baed6;
  background-color: #6baed6; }

.q5 {
  fill: #4292c6;
  background-color: #4292c6; }

.q6 {
  fill: #2171b5;
  background-color: #2171b5; }

.q7 {
  fill: #08519c;
  background-color: #08519c; }

.q8 {
  fill: #08306b;
  background-color: #08306b; }

.title {
  font-weight: 400;
  text-align: center;
  padding: 0.2em 0; }

.hidden {
  display: none; }

.tooltip {
  color: #fff;
  background-color: #000;
  padding: .5em;
  border-radius: 0.1em;
  opacity: 0.8;
  position: absolute;
  min-width: 10em; }
  .tooltip .description {
    font-size: 0.8em; }

#games, #legend, #summary {
  position: absolute;
  display: flex;
  flex-direction: column; }

#games, #legend {
  left: 0.5em; }

#games {
  top: 1em; }

#legend, #summary {
  bottom: 1em; }

#summary {
  right: 1em; }

#games, #summary {
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0em 0.1em 0.5em #b3abab; }

#games {
  text-align: center;
  min-width: 8em; }
  #games .game {
    padding: 0.2em 0;
    cursor: pointer;
    transition: all 0.3s; }
  #games .active {
    background-color: rgba(33, 150, 243, 0.2); }

#legend {
  min-height: 10em;
  width: 5em; }
  #legend .key {
    width: 1em;
    height: 2em;
    position: relative; }
    #legend .key:after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      width: 1.1em;
      height: 0.05em;
      background-color: #636ab3; }
    #legend .key span {
      font-size: 0.7em;
      position: absolute;
      bottom: -0.7em;
      left: 2.5em; }

#summary {
  z-index: 1;
  font-size: 0.9em;
  height: 15em;
  width: 25em;
  justify-content: space-around; }
  #summary strong {
    color: #08306b; }
  #summary thead tr {
    font-size: 0.7em;
    font-weight: 400; }
  #summary td {
    padding: 0.1em 0.3em; }
    #summary td:nth-child(2) {
      width: 50%; }
