@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html, body{
  padding:0; margin:0;
  font-family: 'Open Sans', sans-serif;
  width:100vw; height:100vh;
  overflow: hidden;
  
  font-weight:300;
  font-size:1em;
}

path {
  stroke: white;
  stroke-width: 0.02em;
  fill: #262626;
}

.q0 { fill:rgb(234, 240, 245); background-color: rgb(234, 240, 245); }
.q1 { fill:rgb(213, 226, 239); background-color: rgb(213, 226, 239); }
.q2 { fill:rgb(183, 204, 224); background-color: rgb(183, 204, 224); }
.q3 { fill:rgb(142, 189, 214); background-color: rgb(142, 189, 214); }
.q4 { fill:rgb(107, 174, 214); background-color: rgb(107, 174, 214); }
.q5 { fill:rgb(66,146,198); background-color: rgb(66,146,198); }
.q6 { fill:rgb(33,113,181); background-color: rgb(33,113,181); }
.q7 { fill:rgb(8,81,156); background-color: rgb(8,81,156); }
.q8 { fill:rgb(8,48,107); background-color: rgb(8,48,107); }


.title {
  font-weight: 400;
  text-align:center;
  padding: 0.2em 0;
}

.hidden {
    display: none;
}
.tooltip {
    color: #fff;
    background-color: #000;
    padding: .5em;
    border-radius: 0.1em;
    opacity: 0.8;
    position: absolute;
    min-width: 10em;

    .description {
      font-size: 0.8em;
    }
}
#games, #legend, #summary {
  position:absolute; 
  display:flex;
  flex-direction: column;
}
#games, #legend {
  left:0.5em;
}
#games{
  top:1em;
}
#legend, #summary{
  bottom: 1em;
}
#summary{
  right:1em;
}
#games, #summary{
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0em 0.1em 0.5em #b3abab;
}

#games { 
  text-align:center;
  min-width: 8em;

  .game{
    padding: 0.2em 0; 
    cursor: pointer;
    transition: all 0.3s;
  }
  .active{
    background-color: rgba(33, 150, 243, .2);
  }
}

#legend{
  min-height:10em; width: 5em;

  .key{
    width:1em;
    height: 2em;
    position:relative;

    &:after{
      content: ''; display: inline-block;
      position:absolute;
      bottom:0; 
      width:1.1em; height: 0.05em;
      background-color: #636ab3;
    }

    span {
      font-size: 0.7em;
      position:absolute;
      bottom:-0.7em;
      left: 2.5em;
    }
  }
}

#summary{
  font-size: 0.9em;
  height:15em; width: 25em; 
  justify-content: space-around;
  
  strong{
    color: rgb(8,48,107); 
  }
  thead tr {
    font-size: 0.7em;
    font-weight:400;
  }
  td{
    &:nth-child(2) {
      width: 50%;
    }
    padding: 0.1em 0.3em;
  }
}






