/*https://bost.ocks.org/mike/map/step-7.html
http://www.d3noob.org/2013/03/a-simple-d3js-map-explained.html
http://davewood.me/blog/2014/04/09/drawing-a-world-map-with-d3/

geo data:
http://www.naturalearthdata.com/downloads/50m-cultural-vectors/*/

.subunit.SCT { fill: #ddc; }
.subunit.WLS { fill: #cdd; }
.subunit.NIR { fill: #cdc; }
.subunit.ENG { fill: #dcd; }

.subunit.IRL,
.subunit-label.IRL {
  display: none;
}

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.subunit-boundary.IRL {
  stroke: #aaa;
}

.subunit-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}

.place,
.place-label {
  fill: #444;
}

text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  pointer-events: none;
}


/*world*/
body{
  padding:0;
  margin:0;
}
path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}